*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-size: 24px;
    font-family: sans-serif;
}
header{
    background: url(./banner.webp) no-repeat center/cover;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(35, 36, 36, 0.3);
    padding: 20px 20px;
    position: fixed;
    top: 0%;
    right: 0px;
    width: 100%;
}
nav .logo {
    width: 20%;
}
nav .logo img{
    width: 100%;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
    height: 70vh;


}
.header-content h1{
    font-size: 3.5rem;
}
.header-content a{
    background-color:palevioletred;
    padding: 10px 20px;
    border-radius: .5rem;
    color: white;
    text-decoration: none;

}
.page1 p{
    color: white;
    font-size:2rem;
    text-align: left;
    padding:10rem;
    padding-left: 3%;
    font-family: cursive;
}


.page2{
    padding: 5rem;
    padding-top: 5rem;
}
.page3{
    display: grid;
    grid-template-columns: auto auto;
    gap:4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page3 img{
    height: 100px;
    width: 600px;
}
.page4{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:4rem;
    padding-top: 4rem;
    gap: 1rem;
}
.page4 img{
    height: 400px;
    width: 600px;
}
.page4 p{
    padding-top: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.imm{
    margin-bottom: 2rem;
}

.page5{
    display: grid;
    grid-template-columns: auto auto;
    gap:4rem;
    padding-top: 3rem;
}
.page5 img{
    height: 400px;
    width: 600px;
}
.page5 p{
    padding-top: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page6{
    padding-left: 4.5rem;
}
.page6 h1{
    padding:1rem ;
    font-size: 1.5rem;
}
.page6 p{
    padding: 1rem;
}
.page6{
    display: grid;
    grid-template-columns: auto auto auto;
}
.ab img{
    width: 60px;
    height: 100px;
}
footer{
    background-color: rgb(243, 100, 124);
    padding: 10px;
    text-align: center;
    color: white;
}
@media (max-width:576px){
    *{
        font-size: 20px;;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-links a{
        color: antiquewhite;
    }

    nav .logo{
        width: 50%;
        margin: auto;
    }
    .header-content h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .header-content{
       gap: 2rem;
       height: 100vh;
    }
    img[alt="ios-store"]{
        height: 2.7rem;
    }
    .features .inner{
        flex-direction: column;
        margin-top:2rem;
    }
    .page1 p{
        font-size: 25px;
        text-align: center;
        padding: 20px 40px ;
        padding-top: 13rem;
    }
    .page3 {
        display: grid;
        grid-template-columns: auto;

    }
    .page3 img{
        width: 250px;
        padding-right: 30%;

    }
    .page3 p{
        font-size: large;
        text-align: left;
        padding-left: 0%;
    }
    .page4{
        display: grid;
        grid-template-columns: auto;
        padding: 0%;
    }
    .page4 img{
        width: 250px;
        height: 200px;
        padding-right: 30%;

    }
       .page4 p{
        font-size: large;
        text-align: left;
        padding-left: 0%;}

    .page5{
        display: grid;
        grid-template-columns: auto;
        padding: 0%;
    }
    .page5 img{
        width: 250px;
        height: 200px;
        padding-right: 30%;

    }
       .page5 p{
        font-size: large;
        text-align: left;
        padding-top: 0%;
    }
    .page6{
        display: grid;
        grid-template-columns: auto auto;
    }
    .page6 p{
        text-align: left;
        padding-left: 0%;
    }
  
}