*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-size: 24px;
    font-family: sans-serif;
}
header{
    background: url(./app-link-background.svg) no-repeat center/cover;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(35, 36, 36, 0.3);
    padding: 20px 20px;
    position: fixed;
    top: 0%;
    right: 0px;
    width: 100%;
}


nav .logo {
    width: 20%;
}
nav .logo img{
    width: 100%;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-links a{
    text-decoration: none;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
    height: 70vh;


}
.header-content h1{
    font-size: 3.5rem;
}
.header-content a{
    background-color:palevioletred;
    padding: 10px 20px;
    border-radius: .5rem;
    color: white;
    text-decoration: none;

}
img[alt="ios-store"]{
    height: 2.4rem;
    padding-left: 20px;
    margin-bottom: 0.2rem;
}
.playstore{
    display: flex;
    align-items: center;
    gap:1rem
}
.features{
    height: 100vh;
}
.features h1{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}
.features .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap:1rem;
    height: 60vh;
    padding: 5rem;
}
.features img{
    width: 7rem;
    margin-bottom: 2rem;
}
.page3{
    background-image: url(./banner-1.webp);
}
.page3 p{
    color: white;
    font-size: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 13rem;
}
.page6{
    background-image: url(./banner-2.webp);

}
.page6 p{
    color: whitesmoke;
    font-size: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 13rem;


}

.connect{
    gap: 2rem;
    padding: 1.5rem;
}
.connect h2{
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}
.connect h3{
    font-size: 1.5rem;
}
.connect .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:2rem;
    justify-content: center;
    padding-top: 3rem;
    line-height: 1.5rem;
}
.connect input{
    padding: 10px;
    border-radius: 2rem;
    outline: none;
    border: 1px solid black;
    margin-top: 1rem;
    width: 100%;
}
.email-sec{
    position: relative;
    width: 80%;
}
#e-mail{
    height: 2.5rem;
    position: absolute;
    right:0px;
    bottom: 0px;

}
.d-flex{
    display: flex;
    gap:1rem;
    padding: 5px;
}

@media (max-width:576px){
    *{
        font-size: 20px;;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav .logo{
        width: 50%;
        margin: auto;
    }
    .nav-links a{
        color: antiquewhite;
    }

    .header-content h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .header-content{
       gap: 2rem;
       height: 100vh;
    }
    img[alt="ios-store"]{
        height: 2.7rem;
    }
    .features .inner{
        flex-direction: column;
        margin-top:2rem;
    }
    .page4{
        margin-top: 40rem;
    }
    .page3 p{
        font-size: 3rem;
        text-align: center;
        margin-top: 5rem;
    }  
    .page6 p{
        font-size: 3rem;
    }
        
    .connect .grid{
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        gap:3rem;
    }
    #e-mail{
        right: 1px;
    }
}
footer{
    background-color: rgb(243, 100, 124);
    padding: 1rem;
    text-align: center;
    color: white;
}